.gallery{
    position: relative;
    background: #1768bc;
    color: #fff;

    &:before{
        display: block;
        content: "";
        position: absolute;
        left: 0px;
        right: 0px;
        background-repeat: no-repeat;
        background-image: url("../img/svg/gallery_bg-top_blue.svg");
        bottom: 100%;
        height: 100px;
        background-size: 100% 100%;
    }
}