.gallery{
    position: relative;
    background: #1768bc;
    color: #fff;
    padding-bottom: 180px;

    @media screen and (max-width: 991px){
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &:before{
        display: block;
        content: "";
        position: absolute;
        left: 0px;
        right: 0px;
        background-repeat: no-repeat;
        background-image: url("../img/svg/gallery_bg-top_blue.svg");
        bottom: 100%;
        height: 100px;
        background-size: 100% 100%;
    }

    h2, .h2{
        padding-top: 54px;
        font-size: 3em;
        padding-bottom: 20px;
        @media screen and (max-width: 767px){
            font-size: 2.4em;
            line-height: 1em;         
        }
    }

    .item{
        width: 90%;
        margin: 0 auto;

        .img{
            padding-top: 100%;
            position: relative;
            margin-bottom: 30px;

            @media screen and (max-width: 767px){
                margin-bottom: 10px;
            }

            &>div{
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                background-size: cover;
                background-position: center;
            }
        }
        .col-md-8{
            .img{
                padding-top: 47.8%;
            }
        }
        @media screen and (max-width: 767px){
            .row > div{
                padding: 0px 5px;
            }
        }

        .ytb{
            .img > div:before{
                content: "";
                display: block;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32.01'%3E%3Cdefs%3E%3CclipPath id='a' transform='translate(-290 -380.99)'%3E%3Cpath fill='none' d='M290 380h32v33h-32z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' d='M29.86 8.01A16 16 0 1 0 24 29.86a16 16 0 0 0 5.86-21.85zM22.4 27.09a12.8 12.8 0 1 1 4.69-17.48 12.79 12.79 0 0 1-4.69 17.48zm-.64-11.73l-8.38-4.89c-.76-.45-1.38-.09-1.37.79v9.7c0 .89.63 1.25 1.4.8l8.31-4.8a.84.84 0 0 0 0-1.6zm0 0'/%3E%3C/g%3E%3C/svg%3E%0A");

                opacity: .5;
                width: 128px;
                height: 128px;
                position: absolute;
                top:50%;
                left:50%;
                margin: -64px 0px 0px -64px;
                background-size: 100%;
                background-repeat: no-repeat;

                @media screen and (max-width: 991px){
                    width: 64px;
                    height: 64px;
                    margin: -32px 0px 0px -32px;
                }
            }

            &:hover .img > div:before{
                opacity: .3;
            }
        }
    }
}