.gallery{
    position: relative;
    background: #1768bc;
    color: #fff;
    padding-bottom: 180px;

    @media screen and (max-width: 991px){
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &:before{
        display: block;
        content: "";
        position: absolute;
        left: 0px;
        right: 0px;
        background-repeat: no-repeat;
        background-image: url("../img/svg/gallery_bg-top_blue.svg");
        bottom: 100%;
        height: 100px;
        background-size: 100% 100%;
    }

    h2, .h2{
        padding-top: 54px;
        font-size: 3em;
        padding-bottom: 20px;
    }

    .item{
        width: 90%;
        margin: 0 auto;

        .img{
            padding-top: 100%;
            position: relative;
            margin-bottom: 30px;

            &>div{
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                background-size: cover;
                background-position: center;
            }
        }
        .col-md-8{
            .img{
                padding-top: 47.8%;
            }
        }
    }
}