.how-to-wash{
    position: relative;
    padding-top: 242px;
    color: #fff;
    background: #66bfe2;
    background: -moz-linear-gradient(top, #66bfe2 0%, #098bc8 45%, #098bc8 100%);
    background: -webkit-linear-gradient(top, #66bfe2 0%,#098bc8 45%,#098bc8 100%);
    background: linear-gradient(to bottom, #66bfe2 0%,#098bc8 45%,#098bc8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66bfe2', endColorstr='#098bc8',GradientType=0 );

    h2, .h2{
        font-size: 3em;
        line-height: 1.25em;
        margin-bottom: 76px;
    }

    &:before{
        display: block;
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 110px;
        background-image: url("../img/svg/who-we-are_bg-top_white.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    &:after{
        display: block;
        content: "";
    }

    ol.how-to-wash-list{
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        counter-reset: how-to-wash-counter;

        &>li{
            counter-increment: how-to-wash-counter;
            padding-left: 88px;
            padding-bottom: 22%;
            margin-bottom: 145px;

            &:before {
                content: counter(how-to-wash-counter);
                background-image: url("../img/svg/num-bg.svg");
                background-repeat: no-repeat;
                display: block;
                width: 78px;
                height: 78px;
                text-align: center;
                line-height: 78px;
                font-size: 2em;
                font-weight: bold;
                box-sizing: border-box;
                padding-top: 2px;
                position: absolute;
                left: 0px;
                top: -24px;
            }

            h3, .h3{
                color: #1e274f;
                font-weight: bold;
            }
            .text{
                max-width: 256px;
            }
            .img{
                position: absolute;
                left: 0px;
                right: 28px;
                bottom: 0px;
                padding-bottom: 60%;
                background-position: 50%;
                background-size: cover;

                &:after{
                    font-family: 'icomoon';
                    content: "\e90d";
                    display: block;
                    font-size: 34px;
                    width: 35px;
                    height: 18px;
                    line-height: 18px;
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    margin: -8px 0px 0px -7px;
                    color: #1c6cb5;
                }
            }

            &:nth-child(1){
                .img{
                    background-image: url("../img/how-to-wash_001.jpg");
                }
            }
            &:nth-child(2){
                .img{
                    background-image: url("../img/how-to-wash_002.jpg");
                }
            }
            &:nth-child(3){
                .img{
                    background-image: url("../img/how-to-wash_003.jpg");
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }

    ul.pistols{
        list-style-type: none;
        margin-top: -10px;

        li{
            position: relative;
            padding: 32px 0px 0px 0px;

            &:before{
                content: "\e90c";
                font-family: 'icomoon';
                display: block;
                width: 250px;
                height: 45px;
                position: absolute;
                left: -95px;
                top: 6px;
                font-size: 250px;
                line-height: 50px;
            }

            &:nth-child(1){
                &:before{
                    color: #ed1f24;
                }
            }
            &:nth-child(2){
                &:before{
                    color: #0a5192;
                }
            }
            &:nth-child(3){
                &:before{
                    color: #aeca0b;
                }
            }
        }
    }
}