header, footer{
    background-color: rgba(0, 26, 91, 0.9);
    color: #fff;
    height: 128px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    background-image: url("../img/header-left-bg.png");
    background-size: auto 165px;
    background-position: 0% 50%;
    background-repeat: no-repeat;

    @media screen and (max-width: 1800px){
        background-size: 22% 165px;
    }
    @media screen and (max-width: 1600px){
        background-image: none;
    }
    @media screen and (max-width: 1229px){
        // font-size: .7em;
        height: auto;
        padding: 5px 0px;
    }
    @media screen and (max-width: 575px){
        // font-size: .6em;
    }

    &:before{
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;

        background-image: url("../img/header-right-bg.png");
        background-size: auto 165px;
        background-position: 100% 50%;
        background-repeat: no-repeat;

        @media screen and (max-width: 1800px){
            background-size: 22% 165px;
        }
        @media screen and (max-width: 1600px){
            background-image: none;
        }
    }

    @media screen and (min-width: 1230px){
        .col-logo{
            flex: 0 0 24%;
            max-width: 24%;
        }
        .col-nav{
            flex: 0 0 44%;
            max-width: 44%;
        }
        .col-time{
            flex: 0 0 8%;
            max-width: 8%;
        }
        .col-contacts{
            flex: 0 0 24%;
            max-width: 24%;
        }
    }

    @media screen and (max-width: 575px){
        .col-mmenu,
        .col-logo,
        .col-time,
        .col-contacts{
            padding: 0px 10px;
        }
    }

    .row{
        align-items: center;
    }

    .logo{
        display: flex;
        align-items: center;
        height: 114px;

        @media screen and (max-width: 1229px){
            height: auto;
        }

        img{
            @media screen and (max-width: 1229px){
                width: 100%;
            }
        }
    }

    a{
        color: #fff;
    }

    ul{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

    i{
        font-family: 'icomoon';
        font-style: normal;
    }

    ul.contacts{
        padding-left: 56px;
        @media screen and (max-width: 991px){
            padding-left: 20px;
        }
         
        li{
            position: relative;
            font-size: 1.3em;
            line-height: 1.5em;
            font-weight: bold;

            @media screen and (max-width: 575px){
                font-size: 1em;
                line-height: 1.5em;
            }
            @media screen and (max-width: 360px){
                line-height: 1.5em;
                font-size: .75em;
            }
            
            a{
                text-decoration: none;
            }
            i{
                position: absolute;
                width: 16px;
                text-align: center;
                font-size: 16px;
                left: -27px;

                @media screen and (max-width: 575px){
                    font-size: 1em;
                    font-weight: 400;
                    left: -20px;
                }
            }
        }
    }

    .col-time{
        text-align: center;
    }
}

.menu-o{
    width: 32px;
    height: 24px;
    position: relative;
    cursor: pointer;
    margin: 0 auto;

    div{
        position: absolute;
        width: 100%;
        height: 3px;
        top: 50%;
        left: 0px;
        margin-top: -2px;
        background: #fff;

        &:first-child{
            top: 0px;
        }
        &:last-child{
            top: initial;
            bottom: 0px;
        }
    }
}

header{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    @media screen and (max-width: 991px){
        position: static;
    }
}

footer{
    border-top: 8px solid #1768bc;
}

nav.navbar{
    ul{
        display: flex;
        font-size: 1.35em;
        font-weight: 600;
        justify-content: space-between;

        @media screen and (max-width: 1229px){
            // font-size: 1.2em;
            display: block;
            line-height: 2em;
        }
        @media screen and (max-width: 991px){
            font-size: 1em;
        }

        li{
            a{
                text-decoration: none;
            }
        }
    }
}

i.time24{
    font-size: 56px;
    color: #76c201;

    @media screen and (max-width: 991px){
        font-size: 32px;
        position: relative;
        left: -12px;
    }
    @media screen and (max-width: 360px){
        font-size: 20px;
    }
}
i.time24:before{
    content: "\e900";
}
i.tel:before{
    content: "\e901";
} 
i.adress:before{
    content: "\e902";
}
i.insta:before{
    content: "\e903";
}