.top-carousel{
    position: relative;
    .swiper-container{
        // height: 100px;
        width: 100%;
        
        @media screen and (max-width: 767px){
            .swiper-slide{
                height: 0px;
                padding-top: 100%;
            }
        }

        img{
            width: 100%;

            @media screen and (max-width: 767px){
                object-fit: cover;
                height: 100%;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
            }
        }
    }
    .about-us-teaser{
        background-image: url("../img/svg/slider-overlay.svg");
        background-repeat: no-repeat;
        height: 0px;
        padding-top: 14.3%;
        z-index: 10;
        background-size: 100%;
        position: absolute;
        bottom: -5px;
        left: 0px;
        right: 0px;

        @media screen and (max-width: 1600px){
            font-size: .7em;
        }
        @media screen and (max-width: 991px){
            background-image: none;
            background-color: rgba(0, 26, 91, .9);
            padding: 15px 0px;
            height: auto;
            bottom: 0px;
        }
        @media screen and (max-width: 767px){
            position: static;
        }
        @media screen and (max-width: 575px){
            padding: 15px 0px;
        }

        .inner{
            position: absolute;
            top: 27%;
            left: 0px;
            right: 0px;
            height: 46%;
            color: #fff;
            display: flex;
            align-items: center;
            text-align: center;
            font-size: 1.8em;
            line-height: 1.2em;
            font-weight: 300;

            @media screen and (max-width: 991px){
                position: static;
            }
            @media screen and (max-width: 575px){
                font-size: 1.5em;
            }
        }
    }
}